*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: extra-light;
    src: url(/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: light;
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: regular;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: bold;
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: extra-bold;
    src: url(/fonts/Poppins-ExtraBold.ttf);
}

header{
    position: fixed;
    width: 100%;
}

.all{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo{
    margin-right: 4rem;
}

.relative{
    position: relative;
    font-size: 24px;
    font-family: bold;
    color: white;
}

.absolute{
    position: absolute;
    font-size: 12px;
    font-family: extra-bold;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 0;
    right: -15%;
}

nav{
    width: 50%;
    text-align: right;
}

nav a{
    color: white;
    margin: 0 1rem;
    font-size: 16px;
    font-family: bold;
    transition: 0.5s;
}

nav a:hover{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

nav a:hover span{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav a:hover i{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav span{
    position: relative;
    margin-right: 1rem;
}

nav i{
    position: absolute;
    bottom: 0;
    right: -20%;
}

.hiddenicon{
    display: none;
}

.icons i{
    color: white;
    margin: 0 1rem;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.icons i:hover{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact{
    color: white;
    border: 2px solid;
    border-image: linear-gradient(to right, #E0040B, #DD1E4B) 1;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.contact:hover{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
}

.contact span{
    font-size: 16px;
    font-family: regular;
}

.page1{
    background-color: black;
    padding: 8.3rem 0;
    height: 100vh;
    border-bottom-style: dashed;
    border-bottom-color: #F9F9F9;
    border-width: 1px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.page1 .text{
    width: 65%;
}

.page1 .image{
    width: 35%;
    height: 500px;
}

.page1 .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page1 .text h1{
    font-size: 90px;
    font-family: extra-bold;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page1 .text p{
    font-size: 20px;
    font-family: medium;
    color: #8E8E8E;
    text-align: left;
    width: 70%;
    margin-bottom: 3rem;
}

.page1 .text a{
    color: #F9F9F9;
    border: 2px solid;
    border-image: linear-gradient(to right, #E0040B, #DD1E4B) 1;
    padding: 0.8rem 1.6rem;
    transition: 0.5s;
}

.page1 .text a:hover{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
}

.page1 .text span{
    font-size: 16px;
    font-family: medium;
    margin-left: 0.2rem;
}

.page2{
    background-color: black;
    padding: 8rem 0;
    border-bottom-style: dashed;
    border-bottom-color: #F9F9F9;
    border-width: 1px;
}

.page2 .box{
    text-align: center;
    padding: 0 3rem;
}

.page2 .box i{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-bottom: 14px;
}

.page2 .box h4{
    font-size: 24px;
    color: #F5F5F5;
    font-family: bold;
    margin-bottom: 1rem;
}

.page2 .box p{
    font-size: 16px;
    color: #8E8E8E;
    font-family: regular;
}

.page2 .all{
    position: relative;
}

.page2 .all::before{
    content: '';
    width: 6px;
    height: 120px;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    position: absolute;
    top: -28%;
    left: 50%;
}

.page2 .all::after{
    content: '';
    width: 6px;
    height: 120px;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    position: absolute;
    bottom: -37%;
    left: 50%;
}

.page3{
    background-color: black;
    padding-bottom: 8rem;
}

.page3 .text{
    text-align: center;
}

.page3 .text h1{
    font-size: 50px;
    color: #F9F9F9;
    font-family: bold;
    padding-top: 6rem;
}

.page3 .text p{
    color: #8E8E8E;
    font-size: 16px;
    font-family: regular;
    padding-top: 0.6rem;
    padding-bottom: 2rem;
}

.page3 .box{
    background-color: #191919;
}

.context{
    padding: 0 2rem 2rem;
}

.page3 .box:hover{
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    transform: translateY(-3%);
    transition: 0.5s;
}

.page3 .box:hover p{
    color: #F5F5F5;
}

.page3 .image img{
    width: 100%;
    vertical-align: bottom;
    cursor: pointer;
}

.page3 .box h4,p{
    text-align: center;
}

.page3 .box h4{
    padding-top: 2rem;
    color: #F5F5F5;
    font-family: bold;
    font-size: 22px;
}

.page3 .box p{
    color: #8E8E8E;
    font-size: 16px;
    font-family: regular;
    padding-top: 1rem;
}

.change1{
    position: relative;
    z-index: 1;
}

.different1::before{
    position: absolute;
    content: '';
    width: 220px;
    height: 220px;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    top: -3%;
    left: -3%;
    z-index: -1;
}

.different1::after{
    position: absolute;
    content: '';
    width: 356px;
    height: 400px;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    top: -3%;
    left: -3%;
    z-index: -1;
    opacity: 0;
}

.change1:hover .different1::before{
    width: 0;
}

.change1:hover .different1::after{
    opacity: 0.5;
}

.change2{
    position: relative;
    z-index: 1;
}

.different2::before{
    position: absolute;
    content: '';
    width: 220px;
    height: 220px;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    bottom: -3%;
    right: -3%;
    z-index: -1;
}

.different2::after{
    position: absolute;
    content: '';
    width: 356px;
    height: 400px;
    background-image: linear-gradient(to right, #E0040B, #DD1E4B);
    bottom: -3%;
    right: -3%;
    z-index: -1;
    opacity: 0;
}

.change2:hover .different2::before{
    width: 0;
}

.change2:hover .different2::after{
    opacity: 0.5;
}

@media (max-width:576px) {
    nav{
        display: none;
    }

    .hidden{
        display: none;
    }

    .container{
        padding: 0 1rem;
    }

    .contact{
        padding: 0.2rem 0.6rem;
    }

    .hiddenicon{
        display: block;
    }

    .icons{
        display: flex;
        margin-left: 8rem;
    }

    .page1{
        background-image: url(/image/hero-8-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 100%;
        height: auto;
    }

    .page1 .image{
        display: none;
    }

    .page1 .text{
        width: 100%;
        text-align: center;
    }

    .page1 .text h1{
        font-size: 56px;
    }

    .page1 .text p{
        font-size: 19.2px;
        width: 100%;
        text-align: center;
    }

    .page1 .text a{
        background-color: black;
    }

    .page2 .all::before{
        height: 64px;
        top: -8.7%;
    }

    .page2 .all::after{
        height: 64px;
        bottom: -12.1%;
    }

    .different1::before, ::after{
        display: none;
    }

    .different2::before, ::after{
        display: none;
    }
}